.list-group-item {
  display: flex;
  align-items: center;
}

.post-text {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.post-title {
  font-size: 25px;
  font-weight: 400;
}

.post-body {
  width: 70%;
  margin-top: 15px;
}
