.list-group-item.article {
  border: 1px solid #dee2e6;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 10px;
}

.post-text {
  width: 70%;
}

.post-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.post-body {
  font-style: italic;
}

.btn {
  font-size: 14px;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}
